
.carousel-caption h3{
    bottom: 180px;
    left: 110px;
   padding-left: 0;
    display: flex;

    position: absolute;
   font-weight: 800;
   font-size: 60px;
   color: #fff;
    text-align: center;
}
.ChallengButton{
    position: absolute;
    bottom: 125px;
    left: 42%;
    padding: 10px 30px;
    font-size: 25px;
}